body {
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

header {
    height: 80px;
    width: 100vw;
    position: fixed;
    padding: 0;
    z-index: 9999;

    display: grid;
    align-items: center;

    transition: background .5s ease;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        color: rgb(29, 29, 29);
        margin: 0;

        position: absolute;
        left: 140px;
        top: 15px;

        cursor: pointer;
        transition: all .5s ease;

        &:hover {
            letter-spacing: 5px;
            left: 125px;
        }
    }

    .links {
        font-family: 'Montserrat', sans-serif;
        text-align: center;

        a {
            text-decoration: none;
            color: rgb(51, 51, 51);

            padding: 0 20px;

            transition: padding .5s ease;

            &:hover {
                color: rgb(91, 86, 160);
                padding: 0 40px;
            }
        }

        #active {
            font-weight: 700;
        }
    }
}

div.block#block1 {
    .background {
        width: 100vw;
        height: 50rem;
        overflow-y: hidden;
        background-color: rgb(240, 240, 240);

        .rotate {
            transform: rotate(315deg) translateX(1000px);
            background: linear-gradient(90deg, rgb(230, 228, 238) 0%, rgb(255, 255, 255) 50%, rgb(229, 228, 235) 100%);
            width: 30rem;
            height: 100rem;
            position: absolute;
            top: 20rem;
            left: -20rem;
        }

        .rotate2 {
            transform: rotate(45deg);
            background: linear-gradient(90deg, rgb(230, 228, 238) 0%, rgb(255, 255, 255) 50%, rgb(229, 228, 235) 100%);
            width: 30rem;
            height: 60rem;
            position: absolute;
            top: 20rem;
            right: -20rem;
        }
    }
}

div.block#block2 {
    .background {
        background: rgb(255, 255, 255);

        width: 100vw;
        position: absolute;
        top: 50rem;
        height: 600px;
    }
}

@media only screen and (max-width: 1090px) {
    header {
        padding-right: 140px;

        .links {
            text-align: right;
        }
    }
}

@media only screen and (max-width: 991px) {
    header {
        height: 120px;
        display: block;
        padding: 0;

        padding-top: 15px;

        text-align: center;

        h1 {
            position: relative;
            margin-bottom: 10px;
            left: 0;
            top: 0;

            &:hover {
                letter-spacing: 5px;
                left: 2px;
            }
        }

        .links {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 400px) {
    .links a {
        padding: 0px 10px !important;
    }
}