html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}

body::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

header {
  height: 80px;
  width: 100vw;
  position: fixed;
  padding: 0;
  z-index: 9999;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #1d1d1d;
  margin: 0;
  position: absolute;
  left: 140px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header h1:hover {
  letter-spacing: 5px;
  left: 125px;
}

header .links {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header .links a {
  text-decoration: none;
  color: #333333;
  padding: 0 20px;
  -webkit-transition: padding .5s ease;
  transition: padding .5s ease;
}

header .links a:hover {
  color: #5b56a0;
  padding: 0 40px;
}

header .links #active {
  font-weight: 700;
}

footer {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

footer p {
  margin: 0;
}

footer p i {
  color: #ff5757;
}

button.goto-page {
  border: none;
  display: inline-block;
  border-radius: 99px;
  color: black;
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding: 17px 35px;
  margin-top: 50px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

button.goto-page::before, button.goto-page::after {
  content: ' ';
  position: absolute;
  border-radius: 99px;
}

button.goto-page::before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #269cc1;
  background: -webkit-gradient(linear, left top, right top, from(#269cc1), to(#503b9a));
  background: linear-gradient(to right, #269cc1 0%, #503b9a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#503b9a', endColorstr='#269cc1', GradientType=1);
}

button.goto-page::after {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: #F8F8FA;
  z-index: -1;
  opacity: 1;
}

button.goto-page:hover:after {
  opacity: 0;
}

button.goto-page:hover {
  color: #F0F0F0;
}

button.goto-page#top-right-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 130px;
  margin-top: 0;
  font-size: 12px;
  padding: 10px 0px 10px 0px;
  opacity: 0;
  z-index: 9999999;
}

button.goto-page#top-right-button::after {
  background-color: #FFF;
}

div.block#block1 {
  -webkit-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
}

div.block#block1 .background {
  width: 100vw;
  height: 55rem;
  background-color: #f0f0f0;
  position: absolute;
  overflow: hidden;
}

div.block#block1 .background .rotate {
  -webkit-transform: rotate(315deg) translateX(1000px);
          transform: rotate(315deg) translateX(1000px);
  background: -webkit-gradient(linear, left top, right top, from(#e6e4ee), color-stop(50%, white), to(#e5e4eb));
  background: linear-gradient(90deg, #e6e4ee 0%, white 50%, #e5e4eb 100%);
  width: 30rem;
  height: 150rem;
  position: absolute;
  top: 10rem;
  left: -10rem;
  -webkit-box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1);
}

div.block#block1 .background .rotate2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: -webkit-gradient(linear, left top, right top, from(#e6e4ee), color-stop(50%, white), to(#e5e4eb));
  background: linear-gradient(90deg, #e6e4ee 0%, white 50%, #e5e4eb 100%);
  width: 30rem;
  height: 60rem;
  position: absolute;
  top: 20rem;
  right: -20rem;
  -webkit-box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1);
}

div.block#block1 .content {
  margin: auto;
}

div.block#block1 .content .col-md-6 {
  height: calc(55rem - 250px);
}

div.block#block1 .content #landingInfo {
  padding-right: 100px;
  margin-top: 250px;
}

div.block#block1 .content #landingInfo h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  margin: 0;
  background: linear-gradient(45deg, #7888c0 0%, #901fe0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.block#block1 .content #landingInfo p {
  padding-left: 6px;
  font-size: 15px;
  margin: 0;
}

div.block#block1 .content #landingInfo p#undertitle {
  color: #b46fcf;
  background: linear-gradient(45deg, #7888c0 0%, #901fe0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  padding-left: 180px;
  position: relative;
  top: -15px;
}

div.block#block1 .content #landingInfo p#description {
  color: #6b6b6b;
  text-align: justify;
}

div.block#block1 .content #landingImage {
  margin-top: 160px;
  padding-left: 100px;
}

div.block#block1 .content #landingImage img {
  max-width: 100%;
  max-height: 100%;
}

div.block#block1 #small-viewport {
  display: none;
}

div.block#block1 button.goto-page::after {
  top: 1px;
  bottom: 2px;
  left: 1px;
  right: 1px;
}

div.block#block2 {
  background: #5471d5;
  background: linear-gradient(45deg, rgba(0, 55, 243, 0.4) 0%, rgba(147, 63, 206, 0.4) 100%);
  width: 100vw;
  top: 50rem;
  height: 100%;
}

div.block#block2 .container {
  margin: auto;
}

div.block#block2 .container div.col-md-12.overlay {
  height: 100%;
  background-color: white;
  position: relative;
  top: -75px;
  padding: 0;
  margin: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
}

div.block#block2 .container div.col-md-12.overlay .col-md-4 {
  margin: 25px 0px;
  height: 100px;
  border-right: solid 1px #cccccc;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

div.block#block2 .container div.col-md-12.overlay .col-md-4:last-of-type {
  border-right: none;
}

div.block#block2 .container div.col-md-12.underlay {
  margin: 0;
  padding: 0;
}

div.block#block2 .container div.col-md-12.underlay .col-md-4 {
  padding: 10px;
}

div.block#block2 .container div.col-md-12.underlay .col-md-4:first-of-type {
  padding-left: 0px;
}

div.block#block2 .container div.col-md-12.underlay .col-md-4:last-of-type {
  padding-right: 0px;
}

div.block#block2 .container div.col-md-12.underlay .col-md-4 .inner {
  min-height: 400px;
  background-color: white;
  position: relative;
  top: -45px;
  padding: 20px;
  margin: 0;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

div.block#block2 .container div.col-md-12.underlay .col-md-4 .inner #title {
  text-align: center;
}

div.block#block2 .container div.col-md-12.underlay .col-md-4 .inner #description {
  margin-top: 20px;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  text-align: justify;
}

div.block#block3 {
  padding-bottom: 100px;
  -webkit-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat', sans-serif;
}

div.block#block3 .content {
  text-align: center;
  padding-top: 5rem;
  font-family: 'Montserrat', sans-serif;
}

div.block#block3 .content #head-title {
  color: #b46fcf;
  background: linear-gradient(45deg, #7888c0 0%, #901fe0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 17px;
  font-weight: 500;
}

div.block#block3 .content #title {
  font-weight: 400;
}

div.block#block3 .content .socials {
  margin-top: 100px;
}

div.block#block3 .content .socials div[id^="socialsItem"] {
  height: 15rem;
  border-right: solid 1px #e2e2e2;
  padding-top: 60px;
}

div.block#block3 .content .socials div[id^="socialsItem"] #title i {
  text-align: left;
  float: left;
  padding-left: 70px;
  font-size: 70px;
  color: #b46fcf;
  background: linear-gradient(50deg, #5c6fb4 0%, #9357be 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

div.block#block3 .content .socials div[id^="socialsItem"] #title h3 {
  display: inline;
  position: relative;
  top: 15px;
  color: #b46fcf;
  background: linear-gradient(50deg, #344ca3 0%, #843db6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.block#block3 .content .socials div[id^="socialsItem"] a#link {
  float: left;
  padding-left: 70px;
  color: #5a5a5a;
  font-weight: 600;
}

div.block#block3 .content .socials div[id^="socialsItem"]:last-of-type {
  border-right: none;
}

div.block#block3 .content .socials #socialsItem1 {
  -webkit-transform: translatex(-50px);
          transform: translatex(-50px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

div.block#block3 .content .socials #socialsItem3 {
  -webkit-transform: translatex(50px);
          transform: translatex(50px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

div.block#block4 {
  padding-bottom: 100px;
  background: #EEE;
  background: linear-gradient(225deg, rgba(255, 115, 0, 0.4) 0%, rgba(147, 63, 206, 0.4) 100%);
}

div.block#block4 .content {
  margin: auto;
  padding-top: 120px;
}

div.block#block4 .content .small-viewport {
  display: none;
}

div.block#block4 .content .img-container {
  padding-right: 100px;
}

div.block#block4 .content .img-container [id^="img"] {
  margin: 10px;
}

div.block#block4 .content .img-container #img1 {
  width: 20rem;
  position: relative;
  left: calc(100% - 20rem);
}

div.block#block4 .content .img-container #img1 img {
  max-height: 100%;
  max-width: 100%;
}

div.block#block4 .content .img-container #img2 {
  width: 20rem;
}

div.block#block4 .content .img-container #img2 img {
  max-height: 100%;
  max-width: 100%;
}

div.block#block4 .content .img-container #img3 {
  width: 20rem;
  position: relative;
  left: calc(100% - 20rem - 110px);
}

div.block#block4 .content .img-container #img3 img {
  max-height: 100%;
  max-width: 100%;
}

div.block#block4 .content .info-container {
  padding-left: 100px;
}

div.block#block4 .content .info-container h1 {
  color: #b46fcf;
  background: linear-gradient(45deg, #587cff 0%, #9500ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Monterrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

div.block#block4 .content .info-container p#undertitle {
  color: #b46fcf;
  background: linear-gradient(50deg, #5c6fb4 0%, #9357be 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -10px;
  left: 60px;
}

div.block#block4 .content .info-container p#description {
  color: #6b6b6b;
  text-align: justify;
}

div.block#block5 {
  padding-bottom: 100px;
  padding-top: 100px;
  /* Style inputs with type="text", select elements and textareas */
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add a darker green color */
}

div.block#block5 h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

div.block#block5 p#us {
  text-align: center;
  color: #b46fcf;
  background: linear-gradient(45deg, #587cff 0%, #9500ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.block#block5 p#description {
  text-align: justify;
}

div.block#block5 input[type=text],
div.block#block5 select,
div.block#block5 textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
}

div.block#block5 input[type=text],
div.block#block5 select {
  -webkit-transition: padding .25s ease;
  transition: padding .25s ease;
}

div.block#block5 input[type=text]:focus,
div.block#block5 select:focus {
  padding: 20px 12px;
}

div.block#block5 textarea {
  min-height: 100px;
}

div.block#block5 input[type=submit] {
  background-color: #4c77af;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.block#block5 input[type=submit]:hover {
  background-color: #456692;
}

@media (min-width: 1200px) {
  .container {
    min-width: 1300px;
  }
}

@media screen and (max-width: 1090px) {
  header {
    padding-right: 140px;
  }
  header .links {
    text-align: right;
  }
  button#top-right-button {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: 120px;
    display: block;
    padding: 0;
    padding-top: 15px;
    text-align: center;
  }
  header h1 {
    position: relative;
    margin-bottom: 10px;
    left: 0;
    top: 0;
  }
  header h1:hover {
    letter-spacing: 5px;
    left: 2px;
  }
  header .links {
    text-align: center;
  }
  #landingInfo {
    padding-right: 5px !important;
  }
  #landingImage {
    padding-left: 15px !important;
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .block#block1 .background {
    height: 45rem !important;
  }
  #landingImage {
    padding-left: 15px !important;
    padding-top: 0px !important;
    margin-top: 0 !important;
  }
  .block#block2 .overlay-card {
    display: none;
  }
  .block#block2 .underlay .col-md-4 {
    padding: 20px 0 !important;
  }
  .block#block2 .underlay .col-md-4 .inner {
    top: 0px !important;
  }
  .block#block3 .socials {
    background: #e6e6e6;
  }
  .block#block3 #socialsItem2 {
    background-color: #FFF;
  }
  .block#block3 [id^="socialsItem"] {
    border: none !important;
  }
  .block#block4 .small-viewport {
    display: block !important;
  }
  .block#block4 .small-viewport .info-container {
    padding-left: 15px !important;
    margin-bottom: 50px;
  }
  .block#block4 .small-viewport .img-container {
    padding-right: 15px !important;
  }
  .block#block4 .large-viewport {
    display: none !important;
  }
  .block#block5 .contact {
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #EEE;
  }
}

@media screen and (max-width: 600px) {
  #landingImage {
    padding-left: 15px !important;
    margin: 0 !important;
    padding-top: 160px !important;
  }
  #large-viewport {
    display: none !important;
  }
  #small-viewport {
    display: block !important;
  }
  #small-viewport #landingInfo {
    margin-top: 120px !important;
    height: 100% !important;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 576px) {
  .block#block1 {
    background-color: #e0e0e0 !important;
  }
}

@media screen and (max-width: 400px) {
  .links a {
    padding: 0px 10px !important;
  }
}
/*# sourceMappingURL=styling.css.map */