html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(161, 161, 161);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(126, 126, 126);
    }
}

header {
    height: 80px;
    width: 100vw;
    position: fixed;
    padding: 0;
    z-index: 9999;

    display: grid;
    align-items: center;

    transition: background .5s ease;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        color: rgb(29, 29, 29);
        margin: 0;

        position: absolute;
        left: 140px;
        top: 15px;

        cursor: pointer;
        transition: all .5s ease;

        &:hover {
            letter-spacing: 5px;
            left: 125px;
        }
    }

    .links {
        font-family: 'Montserrat', sans-serif;
        text-align: center;

        a {
            text-decoration: none;
            color: rgb(51, 51, 51);

            padding: 0 20px;

            transition: padding .5s ease;

            &:hover {
                color: rgb(91, 86, 160);
                padding: 0 40px;
            }
        }

        #active {
            font-weight: 700;
        }
    }
}

footer {
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    p {
        margin: 0;

        i {
            color: rgb(255, 87, 87);
        }
    }
}

button.goto-page {
    border: none;
    display: inline-block;
    border-radius: 99px;
    color: black;
    position: relative;
    z-index: 1;
    font-size: 14px;
    padding: 17px 35px;
    margin-top: 50px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.6s ease;


    &::before,
    &::after {
        content: ' ';
        position: absolute;
        border-radius: 99px;
    }

    &::before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: #269cc1;
        background: -moz-linear-gradient(left, #269cc1 0%, #503b9a 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #269cc1), color-stop(100%, #503b9a));
        background: -webkit-linear-gradient(left, #269cc1 0%, #503b9a 100%);
        background: -o-linear-gradient(left, #269cc1 0%, #503b9a 100%);
        background: -ms-linear-gradient(left, #269cc1 0%, #503b9a 100%);
        background: linear-gradient(to right, #269cc1 0%, #503b9a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#503b9a', endColorstr='#269cc1', GradientType=1);
    }

    &::after {
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        background-color: #F8F8FA;
        z-index: -1;
        opacity: 1;
    }

    &:hover:after {
        opacity: 0;
    }

    &:hover {
        color: #F0F0F0;
    }
}

button.goto-page#top-right-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 130px;
    margin-top: 0;
    font-size: 12px;
    padding: 10px 0px 10px 0px;
    opacity: 0;
    z-index: 9999999;

    &::after {
        background-color: #FFF;
    }
}

div.block#block1 {
    -webkit-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);

    .background {
        width: 100vw;
        height: 55rem;
        background-color: rgb(240, 240, 240);
        position: absolute;
        overflow: hidden;

        .rotate {
            transform: rotate(315deg) translateX(1000px);
            background: linear-gradient(90deg, rgb(230, 228, 238) 0%, rgb(255, 255, 255) 50%, rgb(229, 228, 235) 100%);
            width: 30rem;
            height: 150rem;
            position: absolute;
            top: 10rem;
            left: -10rem;

            box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1);
        }

        .rotate2 {
            transform: rotate(45deg);
            background: linear-gradient(90deg, rgb(230, 228, 238) 0%, rgb(255, 255, 255) 50%, rgb(229, 228, 235) 100%);
            width: 30rem;
            height: 60rem;
            position: absolute;
            top: 20rem;
            right: -20rem;

            box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1);
        }
    }

    .content {
        margin: auto;

        .col-md-6 {
            height: calc(55rem - 250px);
        }

        #landingInfo {
            padding-right: 100px;
            margin-top: 250px;

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 60px;
                letter-spacing: 2px;
                margin: 0;
                background: linear-gradient(45deg, rgb(120, 136, 192) 0%, rgb(144, 31, 224) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                padding-left: 6px;
                font-size: 15px;
                margin: 0;

                &#undertitle {
                    color: rgb(180, 111, 207);
                    background: linear-gradient(45deg, rgb(120, 136, 192) 0%, rgb(144, 31, 224) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    filter: brightness(0.7);
                    padding-left: 180px;
                    position: relative;
                    top: -15px;
                }

                &#description {
                    color: rgb(107, 107, 107);
                    text-align: justify;
                }
            }
        }

        #landingImage {
            margin-top: 160px;
            padding-left: 100px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    #small-viewport {
        display: none;
    }

    button.goto-page {
        &::after {
            top: 1px;
            bottom: 2px;
            left: 1px;
            right: 1px;
        }
    }
}

div.block#block2 {
    background: rgb(84, 113, 213);
    background: linear-gradient(45deg, rgba(0, 55, 243, 0.4) 0%, rgba(147, 63, 206, 0.4) 100%);

    width: 100vw;
    top: 50rem;
    height: 100%;

    .container {
        margin: auto;

        div.col-md-12.overlay {
            height: 100%;
            background-color: white;
            position: relative;
            top: -75px;
            padding: 0;
            margin: 0;
            border-radius: 15px;

            -webkit-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);

            .col-md-4 {
                margin: 25px 0px;
                height: 100px;
                border-right: solid 1px rgb(204, 204, 204);

                display: grid;
                align-items: center;
                justify-content: center;

                font-family: 'Montserrat', sans-serif;

                &:last-of-type {
                    border-right: none;
                }
            }
        }

        div.col-md-12.underlay {
            margin: 0;
            padding: 0;

            .col-md-4 {
                padding: 10px;

                &:first-of-type {
                    padding-left: 0px;
                }

                &:last-of-type {
                    padding-right: 0px;
                }

                .inner {
                    min-height: 400px;
                    background-color: rgb(255, 255, 255);
                    position: relative;
                    top: -45px;
                    padding: 20px;
                    margin: 0;
                    border-radius: 15px;
                    font-family: 'Montserrat', sans-serif;

                    #title {
                        text-align: center;
                    }

                    #description {
                        margin-top: 20px;
                        filter: opacity(0.7);
                        text-align: justify;
                    }
                }


            }
        }
    }
}

div.block#block3 {
    padding-bottom: 100px;

    -webkit-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 63px -19px rgba(0, 0, 0, 0.25);

    font-family: 'Montserrat', sans-serif;

    .content {
        text-align: center;
        padding-top: 5rem;

        font-family: 'Montserrat', sans-serif;

        #head-title {
            color: rgb(180, 111, 207);
            background: linear-gradient(45deg, rgb(120, 136, 192) 0%, rgb(144, 31, 224) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 17px;
            font-weight: 500;
        }

        #title {
            font-weight: 400;
        }

        .socials {
            margin-top: 100px;

            div[id^="socialsItem"] {
                height: 15rem;
                border-right: solid 1px rgb(226, 226, 226);
                padding-top: 60px;

                #title {

                    i {
                        text-align: left;
                        float: left;
                        padding-left: 70px;
                        font-size: 70px;
                        color: rgb(180, 111, 207);
                        background: linear-gradient(50deg, rgb(92, 111, 180) 0%, rgb(147, 87, 190) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    h3 {
                        display: inline;
                        position: relative;
                        top: 15px;
                        color: rgb(180, 111, 207);
                        background: linear-gradient(50deg, rgb(52, 76, 163) 0%, rgb(132, 61, 182) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                a#link {
                    float: left;
                    padding-left: 70px;
                    color: rgb(90, 90, 90);
                    font-weight: 600;
                }

                &:last-of-type {
                    border-right: none;
                }
            }

            #socialsItem1 {
                transform: translatex(-50px);
                transition: transform 1s ease;
            }

            #socialsItem3 {
                transform: translatex(50px);
                transition: transform 1s ease;
            }
        }
    }
}

div.block#block4 {
    padding-bottom: 100px;
    background: #EEE;
    background: linear-gradient(225deg, rgba(255, 115, 0, 0.4) 0%, rgba(147, 63, 206, 0.4) 100%);

    .content {
        margin: auto;
        padding-top: 120px;

        .small-viewport {
            display: none;
        }

        .img-container {
            padding-right: 100px;

            [id^="img"] {
                margin: 10px;
            }

            #img1 {
                width: 20rem;

                //Align right
                position: relative;
                left: calc(100% - 20rem);

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            #img2 {
                width: 20rem;

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            #img3 {
                width: 20rem;
                position: relative;
                left: calc(100% - 20rem - 110px);

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }

        .info-container {
            padding-left: 100px;

            h1 {
                color: rgb(180, 111, 207);
                background: linear-gradient(45deg, rgb(88, 124, 255) 0%, rgb(149, 0, 255) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                font-family: 'Monterrat', sans-serif;
                font-weight: 400;
                margin: 0;
            }

            p#undertitle {
                color: rgb(180, 111, 207);
                background: linear-gradient(50deg, rgb(92, 111, 180) 0%, rgb(147, 87, 190) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                position: relative;
                top: -10px;
                left: 60px;
            }

            p#description {
                color: #6b6b6b;
                text-align: justify;
            }
        }
    }
}

div.block#block5 {
    padding-bottom: 100px;
    padding-top: 100px;

    h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    p#us {
        text-align: center;
        color: rgb(180, 111, 207);
        background: linear-gradient(45deg, rgb(88, 124, 255) 0%, rgb(149, 0, 255) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p#description {
        text-align: justify;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        outline: none;
    }

    input[type=text],
    select {
        transition: padding .25s ease;
        &:focus {
            padding: 20px 12px;
        }
    }

    textarea {
        min-height: 100px;
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: rgb(76, 119, 175);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: rgb(69, 102, 146);
    }
}

@media (min-width: 1200px) {
    .container {
        min-width: 1300px;
    }
}

@media screen and (max-width: 1090px) {
    header {
        padding-right: 140px;

        .links {
            text-align: right;
        }
    }

    button#top-right-button {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    header {
        height: 120px;
        display: block;
        padding: 0;

        padding-top: 15px;

        text-align: center;

        h1 {
            position: relative;
            margin-bottom: 10px;
            left: 0;
            top: 0;

            &:hover {
                letter-spacing: 5px;
                left: 2px;
            }
        }

        .links {
            text-align: center;
        }
    }

    #landingInfo {
        padding-right: 5px !important;
    }

    #landingImage {
        padding-left: 15px !important;
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .block#block1 {
        .background {
            height: 45rem !important;
        }
    }

    #landingImage {
        padding-left: 15px !important;
        padding-top: 0px !important;
        margin-top: 0 !important;
    }


    .block#block2 {
        .overlay-card {
            display: none;
        }

        .underlay .col-md-4 {
            padding: 20px 0 !important;

            .inner {
                top: 0px !important;
            }
        }
    }

    .block#block3 {
        .socials {
            background: rgb(230, 230, 230);
        }

        #socialsItem2 {
            background-color: #FFF;
        }

        [id^="socialsItem"] {
            border: none !important;
        }
    }

    .block#block4 {
        .small-viewport {
            display: block !important;

            .info-container {
                padding-left: 15px !important;
                margin-bottom: 50px;
            }

            .img-container {
                padding-right: 15px !important;
            }
        }

        .large-viewport {
            display: none !important;
        }
    }

    .block#block5 .contact {
        margin-top: 70px;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #EEE;
    }
}

@media screen and (max-width: 600px) {
    #landingImage {
        padding-left: 15px !important;
        margin: 0 !important;
        padding-top: 160px !important;
    }

    #large-viewport {
        display: none !important;
    }

    #small-viewport {
        display: block !important;

        #landingInfo {
            margin-top: 120px !important;
            height: 100% !important;
            padding-bottom: 100px;
        }
    }
}

@media screen and (max-width: 576px) {
    .block#block1 {
        background-color: rgb(224, 224, 224) !important;
    }
}

@media screen and (max-width: 400px) {
    .links a {
        padding: 0px 10px !important;
    }
}